################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs/
bin/
obj/
Publish/
/All.sln.DotSettings.user
**/ShtrihM.DemoServer.*.xml
**/*.Generated.cs
/Deploy
